<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Mr. Coffee - Home</title>
    <meta name="description" content="Check here your work schedule">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div class="row">
<% if (firstname) { %>
	<h1>Hello <%= firstname %></h1>
<% } else { %>    
	<h1>Hello Stranger</h1>
<% } %>
	<p>This is your landing page.</p>
	</div>
</body>
</html>